body {
  padding: 16px;
  font: normal 400 11px/16px Inter, Roboto, sans-serif;
}

main>div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  justify-content: flex-start;
}

#create{
    background-color:#18A0FB;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
  }